{% extends 'base.html.twig' %}
{% block title %}Archivo{% endblock %}
{% block head %}
{{ parent() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenido del Archivo</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/containers.css') }}">
    <link rel="stylesheet" href="{{ asset('css/general.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/titles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/explorer.css') }}">
{% endblock %}

{% block body %}
    <h1>Contenido del archivo: {{ filename }}</h1>
    <!--<p>Ruta: {{ directory }}</p>-->

    <div class="file-content">
        {% if isImage %}
        <!-- Si el archivo es una imagen, mostrarla en un iframe -->
        <iframe id="imageIframe" width="100%" height="100%" frameborder="0" style="overflow:hidden; border:none;" onerror="handleImageError()">
            <p>Tu navegador no soporta iframes.</p>
        </iframe>
        {% elseif isVideo %}
        <iframe src="{{ path('ver_video', { 'filename': filename, 'path': directory }) }}" width="100%" height="500px" frameborder="0" allowfullscreen></iframe>
        {% else %}
        <!-- Si no es una imagen, mostrar el contenido del archivo de texto -->
        <pre>{{ fileContent }}</pre>
        {% endif %}
    </div>

    <ul class="list-group horizontal-list">
        <li>
            <form action="{{ path('download') }}" method="POST">
                <input type="hidden" name="file_path" value="{{ directory ~ '/' ~ filename }}">
                <button class="back">
                    <div class="btn-content">
                        <img src="{{ asset('images/download.png') }}" alt="entrar" class="btn-icono">
                        Descargar
                    </div>
                </button>
            </form>
        </li>
        <li>
            <form action="{{ path('explorer') }}" method="POST" style="display: inline;">
                <input type="hidden" name="path" value="{{ directory }}">
                <button class="back">
                    <div class="btn-content">
                        <img src="{{ asset('images/arrow.png') }}" alt="entrar" class="btn-icono">
                        <span>Volver</span>
                    </div>
                </button>
            </form>
        </li>
    </ul>

    <!-- Botón para cargar la imagen -->
    <button id="reloadButton" onclick="cargarImagen()" hidden>
        Cargar Imagen
    </button>


<script>
    // Función para cargar la imagen
    function cargarImagen() {
        var filename = "{{ filename }}";
        var directory = "{{ directory }}";
        
        // Hacer la solicitud POST
        fetch("{{ path('ver_imagen') }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                'filename': filename,
                'path': directory
            })
        })
        .then(response => response.blob())
        .then(imageBlob => {
            var img = URL.createObjectURL(imageBlob);
            document.getElementById('imageIframe').src = img;
            document.getElementById('reloadButton').disabled = true;  // Deshabilitar el botón después de cargar la imagen
        })
        .catch(error => {
            console.error('Error cargando la imagen:', error);
            // Si hay error en la carga, habilitamos el botón para que el usuario lo intente de nuevo
            document.getElementById('reloadButton').disabled = false;
        });
    }
    

    // Función que maneja el error al cargar la imagen en el iframe
    function handleImageError() {
        console.log('Error al cargar la imagen en el iframe.');
        document.getElementById('reloadButton').disabled = false;  // Habilitar el botón de nuevo
    }

    // Ejecutar la función de carga de imagen al cargar la página
    document.addEventListener('DOMContentLoaded', cargarImagen);
</script>
{% endblock %}

