{# src/ModuloChat/templates/chat_messages.html.twig #}

{% for message in messages %}
    {% if message.messageType == 'system' %}
        <div class="message message-system">
            {{ message.content }}
            <small>{{ message.sentAt|date('H:i') }}</small>
        </div>
    {% else %}
        <div class="message {% if message.senderIdentifier == userId %}message-sent{% else %}message-received{% endif %}">
            <div class="message-header">{{ message.senderName }}</div>
            <div class="message-content">{{ message.content }}</div>
            <div class="message-timestamp">{{ message.sentAt|date('H:i') }}</div>
        </div>
    {% endif %}
{% else %}
    <div class="message message-system">
        No hay mensajes en este chat. ¡Sé el primero en enviar uno!
    </div>
{% endfor %}